.container
  #loginbox.mainbox.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2{:style => "margin-top:50px;"}
    .panel.panel-info
      .panel-heading
        .panel-title Sign In
        %div{:style => "float:right; font-size: 80%; position: relative; top:-10px"}
          %a{:href => "#"} Forgot password?
      .panel-body{:style => "padding-top:30px"}
        #login-alert.alert.alert-danger.col-sm-12{:style => "display:none"}
        = form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form-horizontal", id: "loginform", role: "form"}) do |f|
          .input-group{:style => "margin-bottom: 25px"}
            %span.input-group-addon
              %i.glyphicon.glyphicon-user
            = f.email_field :email, autofocus: true, class: "login-username form-control", name: "username", placeholder: "username or email"
          .input-group{:style => "margin-bottom: 25px"}
            %span.input-group-addon
              %i.glyphicon.glyphicon-lock
            = f.password_field :password, class: "form-control", placeholder: "password"
          - if devise_mapping.rememberable?
            .input-group
              .checkbox
                %label
                  = f.check_box :remember_me
                  Remember me
          .form-group{:style => "margin-top:10px"}
            / Button
            .col-sm-12.controls
              = f.submit "Login", class: "btn btn-success"
          .form-group
            .col-md-12.control
              %div{:style => "border-top: 1px solid#888; padding-top:15px; font-size:85%"}
                Don't have an account!
                %a{:href => "#", :onclick => "$('#loginbox').hide(); $('#signupbox').show()"}
                  Sign Up Here