%nav.navbar.navbar-fixed-top.navbar-inverse.dark{role: 'navigation'}
  .container-fluid
    .navbar-header
      = link_to 'RTime', '#', class: 'navbar-brand'
    .navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li= link_to 'test link', '#'
        %li= link_to 'test link', '#'
        %li= link_to 'test link', '#'
      - if user_signed_in?
        %ul.nav.navbar-nav.navbar-right
          %li
            = link_to('#') do
              %i.glyphicon-user.glyphicon
                Name
          %li= link_to('Logout', destroy_user_session_path, method: :delete)
